workflows/tier1/data_normalizer.json
{
  "name": "Tier 1: Data Normalizer",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Clean and normalize SKUs\n// Rules: uppercase, trim whitespace, remove special characters\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = { ...item.json };\n  \n  // Clean SKU\n  if (data.sku) {\n    data.sku = data.sku\n      .toString()\n      .trim()\n      .toUpperCase()\n      .replace(/[^A-Z0-9_-]/g, ''); // Remove invalid characters\n  }\n  \n  // Clean product name\n  if (data.product_name) {\n    data.product_name = data.product_name\n      .toString()\n      .trim()\n      .replace(/\\s+/g, ' '); // Normalize whitespace\n  }\n  \n  results.push({ json: data });\n}\n\nreturn results;"
      },
      "id": "clean-skus",
      "name": "Clean SKUs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Validate and clean URLs\n// Ensure all URLs are accessible and properly formatted\n\nconst items = $input.all();\nconst results = [];\n\nfunction isValidUrl(url) {\n  try {\n    const urlObj = new URL(url);\n    return urlObj.protocol === 'http:' || urlObj.protocol === 'https:';\n  } catch (e) {\n    return false;\n  }\n}\n\nfunction cleanUrl(url) {\n  return url.toString().trim();\n}\n\nfor (const item of items) {\n  const data = { ...item.json };\n  \n  // Clean and validate image URLs\n  if (data.image_urls && Array.isArray(data.image_urls)) {\n    data.image_urls = data.image_urls\n      .map(img => {\n        if (typeof img === 'string') {\n          return { url: cleanUrl(img), type: 'image' };\n        }\n        return { ...img, url: cleanUrl(img.url) };\n      })\n      .filter(img => isValidUrl(img.url));\n  } else {\n    data.image_urls = [];\n  }\n  \n  // Clean and validate video URLs\n  if (data.video_urls && Array.isArray(data.video_urls)) {\n    data.video_urls = data.video_urls\n      .map(vid => {\n        if (typeof vid === 'string') {\n          return { url: cleanUrl(vid), type: 'video' };\n        }\n        return { ...vid, url: cleanUrl(vid.url) };\n      })\n      .filter(vid => isValidUrl(vid.url));\n  } else {\n    data.video_urls = [];\n  }\n  \n  // Clean document URLs\n  if (data.document_urls && Array.isArray(data.document_urls)) {\n    data.document_urls = data.document_urls\n      .map(doc => {\n        if (typeof doc === 'string') {\n          return { url: cleanUrl(doc), type: 'document' };\n        }\n        return { ...doc, url: cleanUrl(doc.url) };\n      })\n      .filter(doc => isValidUrl(doc.url));\n  } else {\n    data.document_urls = [];\n  }\n  \n  results.push({ json: data });\n}\n\nreturn results;"
      },
      "id": "validate-urls",
      "name": "Validate URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Clean text fields\n// Remove HTML tags, limit character count, normalize whitespace\n\nconst items = $input.all();\nconst results = [];\n\nfunction cleanText(text, maxLength = 5000) {\n  if (!text) return '';\n  \n  // Convert to string\n  let cleaned = text.toString();\n  \n  // Remove HTML tags\n  cleaned = cleaned.replace(/<[^>]*>/g, '');\n  \n  // Decode HTML entities\n  cleaned = cleaned\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\");\n  \n  // Normalize whitespace\n  cleaned = cleaned.replace(/\\s+/g, ' ').trim();\n  \n  // Limit length\n  if (cleaned.length > maxLength) {\n    cleaned = cleaned.substring(0, maxLength) + '...';\n  }\n  \n  return cleaned;\n}\n\nfor (const item of items) {\n  const data = { ...item.json };\n  \n  // Clean product name\n  if (data.product_name) {\n    data.product_name = cleanText(data.product_name, 200);\n  }\n  \n  // Clean marketing copy\n  if (data.marketing_copy) {\n    data.marketing_copy = cleanText(data.marketing_copy, 5000);\n  }\n  \n  results.push({ json: data });\n}\n\nreturn results;"
      },
      "id": "clean-text",
      "name": "Clean Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// Add metadata and standardize structure\n// Ensure all required fields are present\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = { ...item.json };\n  \n  // Ensure required fields exist\n  if (!data.sku) {\n    continue; // Skip items without SKU\n  }\n  \n  // Set defaults for missing fields\n  data.product_name = data.product_name || '';\n  data.image_urls = data.image_urls || [];\n  data.video_urls = data.video_urls || [];\n  data.marketing_copy = data.marketing_copy || '';\n  data.source_tier = data.source_tier || 1;\n  data.last_updated = new Date().toISOString();\n  \n  // Ensure metadata exists\n  if (!data.metadata) {\n    data.metadata = {};\n  }\n  \n  // Add standard metadata\n  data.metadata = {\n    ...data.metadata,\n    source_tier: 1,\n    last_updated: data.last_updated,\n    total_images: data.image_urls.length,\n    total_videos: data.video_urls.length,\n    has_marketing_copy: data.marketing_copy.length > 0,\n    data_quality_score: calculateQualityScore(data)\n  };\n  \n  results.push({ json: data });\n}\n\nfunction calculateQualityScore(data) {\n  let score = 0;\n  \n  // SKU present (required)\n  if (data.sku) score += 20;\n  \n  // Product name present\n  if (data.product_name && data.product_name.length > 0) score += 20;\n  \n  // Has images\n  if (data.image_urls && data.image_urls.length > 0) score += 30;\n  \n  // Has videos\n  if (data.video_urls && data.video_urls.length > 0) score += 15;\n  \n  // Has marketing copy\n  if (data.marketing_copy && data.marketing_copy.length > 50) score += 15;\n  \n  return score;\n}\n\nreturn results;"
      },
      "id": "add-metadata",
      "name": "Add Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.metadata.data_quality_score }}",
              "operation": "largerEqual",
              "value2": 40
            }
          ]
        }
      },
      "id": "quality-check",
      "name": "Quality Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "product_data",
        "matchFields": ["sku"],
        "dataToInsert": "={{ $json }}"
      },
      "id": "save-to-table",
      "name": "Save to Product Data Table",
      "type": "n8n-nodes-base.n8nDataTable",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "sync_log",
        "dataToInsert": "={{ { vendor_id: $json.vendor_id, sku: $json.sku, status: 'low_quality', quality_score: $json.metadata.data_quality_score, error_message: 'Data quality score below threshold', sync_date: new Date().toISOString() } }}"
      },
      "id": "log-low-quality",
      "name": "Log Low Quality Data",
      "type": "n8n-nodes-base.n8nDataTable",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Clean SKUs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean SKUs": {
      "main": [
        [
          {
            "node": "Validate URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate URLs": {
      "main": [
        [
          {
            "node": "Clean Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Text": {
      "main": [
        [
          {
            "node": "Add Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Metadata": {
      "main": [
        [
          {
            "node": "Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Check": {
      "main": [
        [
          {
            "node": "Save to Product Data Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Low Quality Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "tier1",
      "id": "1"
    },
    {
      "name": "normalizer",
      "id": "3"
    }
  ],
  "meta": {
    "instanceId": "n8n-cloud"
  }
}

